.wide {
    border: 2px solid slategray;
}

#changeMe {
    transition: all 2s ease-in-out;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
